<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Error 404</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center mt-4">
        <h1>404 - Page not found</h1>
        <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>

        <a href="/todos"><button class="btn btn-dark btn-lg mt-4">Retourner à la page d'accueil</button></a>
    </div>
</body>
</html> 